* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

@mixin cursor{
  cursor: pointer;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;

  section {
    height: 100%;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    @include cursor();
  }

  section:hover{
    flex-grow: 2;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  }

  section:nth-child(1) {
    background-image: url("./images/img1.jpg");
  }
  section:nth-child(2) {
    background-image: url("./images/img2.jpg");
  }
  section:nth-child(3) {
    background-image: url("./images/img3.jpg");
  }
  section:nth-child(4) {
    background-image: url("./images/img4.jpg");
  }
  section:nth-child(5) {
    background-image: url("./images/img5.jpg");
  }
}
